[submodule "ios/dependencies/sovran/Sovran"]
	path = ios/dependencies/sovran/Sovran
	url = git@github.com:circus-kitchens/Sovran-Swift.git
[submodule "ios/dependencies/segment/AnalyticsSwift"]
	path = ios/dependencies/segment/AnalyticsSwift
	url = git@github.com:circus-kitchens/analytics-swift.git
[submodule "ios/dependencies/segment-amplitude/SegmentSwiftAmplitude"]
	path = ios/dependencies/segment-amplitude/SegmentSwiftAmplitude
	url = git@github.com:circus-kitchens/analytics-swift-amplitude.git
[submodule "ios/dependencies/segment-braze/SegmentSwiftBraze"]
	path = ios/dependencies/segment-braze/SegmentSwiftBraze
	url = git@github.com:wrbl606/analytics-swift-braze.git
